
@model Web_App_Job_Seeker.Models.ProfileData
@{
    ViewData["Title"] = "Upload";
}

<h1>Upload Files</h1>
<h2>Upload Image</h2>
<form enctype="multipart/form-data" method="post">
    <dl>
        <dt>
            <label asp-for="@Model.ProfilePicture"></label>
        </dt>
        <dd>
            <input asp-for="@Model.ProfilePicture" type="file">
            <span asp-validation-for="@Model.ProfilePicture"></span>
        </dd>
         @*<div class="container">
         @Model.ImageUploadStatus
     </div>*@
    </dl>
@*</form>*@
<h2>Upload Resume</h2>
@*<form enctype="multipart/form-data" method="post">*@
    <dl>
        <dt>
            <label asp-for="@Model.Resume"></label>
        </dt>
        <dd>
            <input asp-for="@Model.Resume" type="file">
            <span asp-validation-for="@Model.Resume"></span>
        </dd>
         @*<div class="container">
         @Model.ResumeUploadStatus
     </div>*@
    </dl>
     <div class="form-group">
                <input type="submit"  value="SaveAndFinish" class="btn btn-primary" />
            </div>
</form>
