@model Web_App_Job_Seeker.Models.FullInfo

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>FullInfo</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>
        <dd class = "col-sm-10">
             <img src="@Model.ImageFile"   
                         class="rounded-circle"   
                         height="140" width="140"   
                         asp-append-version="true" /> 
        </dd>


        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PersonId)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PersonId)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Address)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ContactNo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ContactNo)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Email)
        </dd>
       @* <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ImageFile)
        </dt>
        <dd class = "col-sm-10">
             <img src="@Model.ImageFile"   
                         class="rounded-circle"   
                         height="140" width="140"   
                         asp-append-version="true" /> 
        </dd>*@
        @*<dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProfileFile)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProfileFile)
        </dd>*@
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SscboardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SscboardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Sscpercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Sscpercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SscpassingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SscpassingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HscboardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HscboardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Hscpercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Hscpercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HscpassingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HscpassingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiplomaBoardName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiplomaBoardName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiplomaPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiplomaPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DiplomaPassingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DiplomaPassingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreeUniversityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreeUniversityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreePercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreePercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DegreePassingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DegreePassingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MastersUniversityName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MastersUniversityName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MastersPercentage)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MastersPercentage)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MastersPassingYear)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MastersPassingYear)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.HighestQuaification)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.HighestQuaification)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.WorkExperience)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.WorkExperience)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Companies)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Companies)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ProjectInfo)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ProjectInfo)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
